@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&display=swap");

//fonts
$karla-font: "Karla", sans-serif;
$inter-font: "Inter", sans-serif;

//colors
$light-blue: #d6dbf5;
$lighter-blue: #f5f7fb;
$navy-blue: #293264;
$purple: #4d5b9e;

//border
$regular-border: 1px solid;
$border-radius-10: 10px;
$border-radius-15: 15px;

//font properties
$font-size-small: 14px;
$font-size-regular: 16px;
$font-weight-regular: 500;
