@import "./styles/mixins";
@import "./styles/variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $lighter-blue;
  margin: 0 auto;
  height: 100%;
}

.quiz-container {
  @include regular-flexbox(center, center);
  font-family: $karla-font;
  height: 500px;

  &__title {
    margin: 0;
    font-weight: 700;
    color: $purple;
  }

  &__description {
    margin-bottom: 30px;
    color: $purple;
  }

  &__btn {
    background-color: $purple;
    color: $lighter-blue;
    padding: 15px;
    width: 190px;
    border-radius: $border-radius-15;
    border: none;
    font-family: $inter-font;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    cursor: pointer;

    &:hover {
      background-color: $navy-blue;
    }
  }

  &__blue-blob {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
  }

  &__yellow-blob {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
  }
}

.quiz {
  border: $regular-border $light-blue;
  padding: 20px;
  @include regular-flexbox(center, inherit);
  min-height: 495px;

  &__question-number {
    color: $navy-blue;
    font-family: $inter-font;

    @include for-mobile {
      font-size: $font-size-small;
    }
  }

  &__question {
    @include regular-flexbox(center, center);
    color: $navy-blue;
    font-family: $karla-font;
    word-break: break-word;
    text-align: center;
    min-height: 120px;

    @include for-tablet {
      min-height: 110px;
      font-size: 22px;
    }

    @include for-mobile {
      min-height: 90px;
      font-size: $font-size-regular;
    }
  }

  &__answer-container {
    @include regular-flexbox(flex-start, stretch);
    padding: 0;
    min-height: 230px;
  }

  &__answer {
    color: $navy-blue;
    font-family: $inter-font;
    list-style-type: none;
    margin: 3px;
    border: $regular-border $navy-blue;
    padding: 5px 0;
    border-radius: $border-radius-10;
    text-align: center;
    cursor: pointer;

    @include for-mobile {
      font-size: $font-size-small;
    }

    &:hover {
      background-color: $light-blue;
      border: $regular-border $light-blue;
    }
  }

  &__answer-selected {
    background-color: $light-blue;
    border: $regular-border $light-blue;
    font-family: $inter-font;
    list-style-type: none;
    margin: 3px;
    padding: 5px 20px;
    border-radius: $border-radius-10;
    text-align: center;
    cursor: pointer;
  }

  &__next-button {
    background-color: $purple;
    color: $lighter-blue;
    border-radius: $border-radius-15;
    font-family: $inter-font;
    padding: 10px 30px;
    border: none;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    cursor: pointer;
    margin: 30px 0;
    align-self: flex-end;

    @include for-mobile {
      align-self: auto;
      font-size: $font-size-small;
    }
    &:hover {
      background-color: $navy-blue;
    }
  }

  &__results {
    @include regular-flexbox(center, center);
    font-family: $karla-font;
    color: $purple;
    text-align: center;
  }
  &__replay-button {
    background-color: $purple;
    color: $lighter-blue;
    padding: 10px 30px;
    border-radius: $border-radius-15;
    border: none;
    font-family: $inter-font;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    cursor: pointer;
    margin: 30px 0;

    &:hover {
      background-color: $navy-blue;
    }
  }
}

.quiz-page {
  @include regular-flexbox(center, center);
  height: 100vh;

  &__wrapper {
    width: 50vw;
  }
}
