@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  color: #4D5B9E;
  margin: 0 auto;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-family: 'Karla', sans-serif;

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__btn {
    background-color: #4D5B9E;
    color: #F5F7FB;
    padding: 15px;
    width: 190px;
    border-radius: 15px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: #343d6b;
  }

  &__blue-blob {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
  }

  &__yellow-blob {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;

  }
}

.quiz {

  &__question {
    color: #293264;
    font-family: 'Karla', sans-serif;

  }

  &__answer-container {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }

  &__answer {
    color: #293264;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    display: inline-block;
    margin: 3px;
    border: 1px solid #293264;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }

  &__answer:hover {
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
  }
}

.quiz-page-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}