@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  color: #4D5B9E;
  margin: 0 auto;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-family: 'Karla', sans-serif;

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__btn {
    background-color: #4D5B9E;
    color: #F5F7FB;
    padding: 15px;
    width: 190px;
    border-radius: 15px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: #343d6b;
  }

  &__blue-blob {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
  }

  &__yellow-blob {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;

  }
}